.container
{
    margin-bottom: 40px;
}
.orange-bag
{
    background-color: #fceae8;
    border-radius: 7px;
}
.carousel-item
{
    padding: 20px 40px;
}
.price
{
    color: #ff136f;
}
.buy-now-button
{
    background-image: linear-gradient(to bottom,  #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3
{
    padding: 10px 30px;
    border-radius: 7px;
}
.cat1
{
    background-color: yellow;
}
.cat2
{
    background-color: purple;
}
.cat3
{
    background-color: blue;
}
.categories h2
{
    color: white;
}
.categories img
{
    width: 100px;
}
.card
{
    border: none;
    border-radius: 4px;
    box-shadow: 5px 3px 10px lightgray;
}
.card-footer
{
    background-color: white;
    border-top: none;
}
#contact
{
    height: 300px;
}
footer
{
    text-align: center;
}